.starter-template {
  padding: 0px 15px;
  text-align: center;
}

@media only screen and (max-width:632px) {
    .starter-template {  padding: 25px 10px; }
}

img.avatar {
 border-radius: 15%;   
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300; 
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: white;
  font-size: 0.95em;
}

.navbar-default .navbar-right > .active > a, .navbar-default .navbar-right > li > a:hover {
 background-color: #ced6eb;   
}

.navbar-default .navbar-left > .active > a, .navbar-default .navbar-left > .active > a:focus, .navbar-default .navbar-left > .active > a:hover {
 background-color: #ffffff;   
}

.navbar-default .navbar-left > li > a:focus, .navbar-default .navbar-left > li > a:hover, .navbar-default .navbar-left > .active > a:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a {
        color:  #ced6eb; 
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #ced6eb;
}

/* Set to 0px if the left menu is empty */
.navbar-default .navbar-left {
    height: 110px;
}

.container {
    max-width: 960px;
    /*min-width: 350px;*/
    margin-bottom: 15px;
}

.navbar-static-top {
   border-width: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-image: url("../images/mydots.jpg");
  background-repeat: repeat-x;
  padding: 5px;
  
}

